@media (max-width: 1290px) {
    /* Intro */
    .intro__images {
        right: -270px;
    }
    /* Stones */
    .stones__item {
        &-content {
            padding: 40px 30px;
        }
    }
    /* Stages */
    .stages__item {
        &-box {
            max-width: 530px;
        }
    }
    /* News */
    .news-container {
        max-width: 970px;
    }
    .news__item {
        max-width: 295px;
        &-text {
            max-height: 110px;
        }
    }
    /* Contacts */
    .contacts__item {
        max-width: 320px;
        padding: 115px 30px 60px;
    }
    /* Example */
    .example {
        padding: 100px 0;
    }
    .example__tabs {
        padding-bottom: 700px;
        &-buttons {
            margin-bottom: 50px;
        }
    }
    /* Slider */
    .slider__btn-next {
        transform: rotate(180deg) translateY(50%);
    }
}
@media (max-width: 1190px) {
    /* Global */
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 16px;
    }
    /* Intro */
    .intro__images {
        right: -300px;
        top: 90px;
    }
    .intro__img {
        max-width: 215px;
    }
    .intro__inner {
        padding: 90px 0;
        max-width: 580px;
    }
    .intro__text {
        font-size: 24px;
    }
    /* Benefit */
    .benefit__item {
        &-content {
            max-width: 730px;
        }
        &-img {
            width: 730px;
        }
    }
    /* More */
    .more {
        padding: 95px 0;
    }
    .more__content {
        max-width: 490px;
    }
    .form {
        max-width: 335px;
    }
    /* Questions */
    .questions {
        padding: 95px 0;
    }
    /* Example */
    .example__tabs {
        padding-bottom: 650px;
    }
    /* Footer */
    .footer__inner {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer__logo {
        width: 50%;
        order: 1;
    }
    .footer__arrow {
        width: 50%;
        order: 1;

        text-align: right;
    }
    .footer__nav {
        order: 2;
    }
    .footer__contacts {
        order: 2;
    }
    .footer__products {
        order: 2;
    }
    .footer__logo {
        margin-bottom: 40px;
        margin-top: 0;
        img {
            width: 97px;
            height: 59px;
        }
    }
}
@media (max-width: 1100px) {
    /* Header */
    .burger-container {
        display: flex;
    }
    .menu {
        display: none;
        flex-direction: column;
        padding: 60px 105px;

        background-color: $bg-blue;
        position: absolute;
        top: 91px;
        right: -15px;
        z-index: 100;
    }
    .menu.open {
        display: flex;

        transition: all 0.5s ease-in-out;

        transform: translateY(0);
    }
    .menu__item {
        & + & {
            margin-left: 0;
            margin-top: 40px;
        }
    }
    /* Contacts */
    .contacts__inner {
        flex-wrap: wrap;
    }
    .contacts__item {
        max-width: 260px;
        padding: 196px 50px 40px;
    }
}
@media (max-width: 1050px) {
    /* Global */
    h2 {
        margin-bottom: 40px;
    }
    /* Intro */
    .intro__images {
        right: -250px;
    }
    /* Benefit */
    .benefit__item {
        display: block;
        &-title {
            margin-bottom: 30px;
        }
        &-content {
            max-width: 100%;
        }
        &-img {
            width: 100%;
        }
    }
    /* More */
    .more {
        padding: 80px 0;
    }
    .more__inner {
        flex-direction: column;
        justify-content: center;
        padding: 60px 75px;
    }
    .more__content {
        margin-bottom: 30px;
        text-align: center;
    }
    .form {
        max-width: 335px;
    }

    /* Stages */
    .stages__item {
        &-content {
            display: block;
        }
        &-time {
            margin-bottom: 15px;
        }
        &-num {
            min-width: 55px;
            min-height: 55px;
        }
    }
}

@media (max-width: 1010px) {
    /* Global */
    section {
        margin-top: 100px;
    }
    /* Intro */
    .intro__images {
        display: none;
    }
    /* Features */
    .features__item {
        width: 100%;
        &-icon {
            width: 68px;
            height: 68px;
        }
    }
    /* About */
    .about__item {
        &-content {
            max-width: 400px;
        }
    }
    /* History */
    .history__inner {
        justify-content: center;
        .history__item {
            width: 45%;
            text-align: center;
        }
    }
    /* Example */
    .example__tabs {
        padding-bottom: 600px;
    }
    /* News */
    .news-container {
        max-width: 726px;
    }
    .news__items {
        margin: 0;
    }
    .news__item {
        max-width: 335px;
    }
    .news__pages {
        display: none;
    }
    .news__items-btn {
        display: flex;
        justify-content: center;
    }
    /* Questions */
    .questions {
        padding: 80px 0;
    }
    .questions__inner {
        justify-content: center;
    }
    /* Footer */
    .footer {
        margin-top: 100px;
        &--mNone {
            margin-top: 0;
        }
    }
    .footer-content {
        padding: 90px 0 70px;
    }
}
@media (max-width: 850px) {
    /* Global */
    h2 {
        margin-bottom: 30px;
    }
    section {
        margin-top: 80px;
    }
    /* Slider */
    .slider__container {
        margin: 0;
    }
    .slider-pagination {
        display: flex;
    }
    .slider__btn-prev,
    .slider__btn-next {
        display: none;
    }
    /* Intro */
    .intro__inner {
        padding: 55px 0;
    }
    /* More */
    .more__inner {
        padding: 55px 50px;
    }
    /* Contacts */
    .contacts__inner {
        flex-direction: column;
        align-items: center;
    }
    .contacts__item {
        margin-bottom: 15px;
        max-width: 360px;
        padding: 95px 30px 30px;
        &-info {
            font-size: 18px;
        }
        &-title {
            margin-bottom: 20px;

            font-size: 22px;
        }
    }
    /* Stones */
    .stones__item {
        img {
            display: none;
        }
        &-content {
            padding: 25px;
        }
    }
    .stones__item:nth-child(odd) {
        .stones__item-content {
            margin-left: 0;
        }
    }
    .stones__item:nth-child(even) {
        .stones__item-content {
            margin-right: 0;
        }
    }
    /* Stages */
    .stages__item {
        padding: 35px 43px;
    }
    /* Example */
    .example {
        padding: 80px 0;
    }
    .example__tabs {
        padding-bottom: 500px;
        &-buttons {
            margin-bottom: 30px;
        }
    }
    .example__download {
        display: block;

        &-text {
            margin: 25px 0;
            font-size: 24px;
        }
    }
    /* Questions */
    .questions {
        padding: 55px 0;
    }
    /* News */
    .news-container {
        max-width: 637px;
        margin-bottom: 80px;
    }
    .news__item {
        max-width: 290px;
    }
    /* Cases */
    .case {
        & + & {
            margin-top: 55px;
        }
    }
    .case__header {
        flex-direction: column;
        align-items: start;
        margin-bottom: 30px;
        &-title {
            margin-bottom: 10px;
        }
    }
    .case__box {
        &-content {
            padding: 60px 40px;
        }
    }
    /* About */
    .about__item {
        flex-direction: column;
        justify-content: center;

        &--even {
            flex-direction: column-reverse;
        }
        &-content {
            margin-bottom: 20px;
            max-width: 100%;
        }
        &-img {
            margin: 0;
        }
    }
    /* Footer */
    .footer {
        margin-top: 80px;
        &--mNone {
            margin-top: 0;
        }
    }
    .footer-content {
        padding: 70px 0 60px;
    }
    .footer-rights {
        padding: 30px 15px 35px;
    }
    .footer__nav,
    .footer__contacts,
    .footer__products {
        max-width: 100%;
        width: 100%;
        & + & {
            margin-top: 40px;
        }
    }
}
@media (max-width: 660px) {
    /* News */
    .news__items {
        flex-direction: column;
        align-items: center;
        &-btn {
            margin: 10px 0 0;
        }
    }
    .news__item {
        margin: 10px 0;
    }
    .news-container {
        margin-bottom: 40px;
    }
    /* History */
    .history__inner {
        .history__item {
            width: 100%;
        }
    }
}
@media (max-width: 600px) {
    /* Global */
    section {
        margin-top: 55px;
    }
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    /* Header */
    .logo-icon {
        width: 96px;
        height: 59px;
    }
    .menu {
        top: 82px;
        width: 100vw;
        text-align: center;
    }
    .header__contacts {
        display: none;
    }
    /* Intro */
    .intro {
        &--none {
            display: none;
        }
    }
    .intro__text {
        font-size: 24px;
    }
    /* Features */
    .features__item {
        padding: 27px;
    }
    /* More */
    .more {
        padding: 60px 0;
    }
    .more__inner {
        align-items: start;
        background-color: transparent;
        padding: 0 8px;

        .more__content {
            text-align: left;
            color: $white;
            h2 {
                color: $white;
            }
        }
    }
    .form__input {
        &::placeholder {
            font-size: 14px;
        }
    }
    /* History */
    .history__inner {
        padding: 15px;
    }
    /* Contacts */
    .contacts__item {
        &-info {
            font-size: 16px;
        }
        &-title {
            font-size: 20px;
        }
    }
    /* Stages */
    .stages__item {
        padding: 25px;
        &-num {
            display: none;
        }
    }
    /* Example */
    .example {
        padding: 60px 0;
    }
    .example__tabs {
        padding-bottom: 400px;

        &-btn {
            font-size: 14px;
            width: 150px;
        }
    }
    /* Cases */
    .case {
        & + & {
            margin-top: 35px;
        }
        .container {
            padding: 0;
        }
    }
    .case__header {
        margin-bottom: 20px;
    }
    .case__content {
        padding: 0 7px;
    }
    .case__box {
        &-content {
            max-width: 100%;
            padding: 30px 20px;
        }
        &-title {
            font-size: 24px;
        }
    }
    .case__item {
        flex-direction: column;
        &-title {
            margin-bottom: 16px;
        }
    }

    /* Footer */
    .footer {
        margin-top: 55px;
        &--mNone {
            margin-top: 0;
        }
    }
    .footer-content {
        padding: 60px 0 45px;
    }
    .footer__item {
        font-size: 14px;
        &-title {
            font-size: 16px;
        }
    }
    .footer__logo {
        margin-top: -10px;
        img {
            width: 79px;
            height: 48px;
        }
    }
    .footer-rights {
        padding: 20px 15px 25px;
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    /* Global */
    .container {
        padding: 0 10px;
    }
    /* Slider */
    .slider__item {
        height: 70px;
    }
    /* Menu */
    .menu {
        right: -10px;
    }
    /* About */
    .about__item {
        & + & {
            margin-top: 25px;
        }
    }
    /* Intro */
    .intro__title {
        font-size: 32px;
    }
    .intro__text {
        margin: 16px 0 30px;
        font-size: 22px;
    }
    .btn {
        width: 100%;
        font-size: 14px;
    }

    /* Map */
    .map__inner {
        iframe {
            height: 550px;
        }
    }
    /* Benefit */
    .benefit__item {
        &-title {
            margin-bottom: 20px;
        }
        &-img {
            margin-top: 20px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    /* More */
    .more {
        padding: 60px 0;
        .form {
            max-width: 100%;
        }
    }
    .more__inner {
        padding: 0;
    }
    /* Stones */
    .stones__item {
        margin-bottom: 10px;
    }
    /* News-article */
    .news-article__header {
        display: block;
    }
    .news-article__social {
        margin-top: 10px;
        &-item {
            &:first-child {
                margin-left: 0;
            }
        }
    }
    /* Features */
    .features__item {
        padding: 25px 18px;
        margin-bottom: 15px;
        &-icon {
            width: 48px;
            height: 48px;
        }
    }
    /* Example */
    .example {
        padding: 60px 0;
    }
    .example__tabs {
        display: flex;
        justify-content: space-between;
        padding-bottom: 350px;

        &-btn {
            width: 130px;
        }
    }
    .example__download {
        &-text {
            font-size: 22px;
        }
        &-input {
            display: flex;
            flex-direction: column;

            .btn {
                margin-top: 8px;

                width: 100%;
                position: relative;

                border-radius: 8px;
            }
        }
    }
    /* Questions */
    .questions__inner {
        padding: 0 10px;
    }
}
@media (max-width: 390px) {
    .example__tabs {
        padding-bottom: 250px;
        &-item {
            top: 100px;
        }
    }
}
